{% extends 'main/base.html' %}

{% block content %}

<h1>

Тест №1

</h1>

<p>

Маалыматтар системасына киришүү

</p>

<form>

<div class="card">

<h3>

1. Маалымат деген эмне?

</h3>

<label>

<input type="radio" name="q1">

А Каалаган убакта өзгөртүлүп жоголушу мүмкүн болгон маалымат

</label>

<br><br>

<label>

<input type="radio" name="q1">

Б Компьютердин ичиндеги жазуу

</label>

<br><br>

<label>

<input type="radio" name="q1">

В Объекттер жана процесстер жөнүндө алынган кабарлардын жыйындысы

</label>

<br><br>

<label>

<input type="radio" name="q1">

Г Сандык көрсөткүчтөр

</label>

</div>



<div class="card">

<h3>

2. Маалыматтын негизги касиеттеринин бири?

</h3>

<label>

<input type="radio" name="q2">

А Ыңгайлуулук

</label>

<br><br>

<label>

<input type="radio" name="q2">

Б Тактык

</label>

<br><br>

<label>

<input type="radio" name="q2">

В) Көлөм

</label>

<br><br>

<label>

<input type="radio" name="q2">

Г) Формат

</label>

</div>


<button class="btn-test">

Текшерүү

</button>

</form>

{% endblock %}